<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sisyphus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0D6668D2D4ABBD100D5BC56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0D6669E2D4ABBD200D5BC56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0D666A82D4ABBD200D5BC56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
